@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(1, 0.03, 0.12, 1.08);
}
